@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Kanit Light'),
         local('Kanit-Light'),
         url(/fonts/Kanit-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Kanit LightItalic'),
         local('Kanit-LightItalic'),
         url(/fonts/Kanit-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'),
         local('Kanit-Regular'),
         url(/fonts/Kanit-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular Italic'),
         local('Kanit-RegularItalic'),
         url(/fonts/Kanit-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Kanit Bold'),
         local('Kanit-Bold'),
         url(/fonts/Kanit-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Kanit BoldItalic'),
         local('Kanit-BoldItalic'),
         url(/fonts/Kanit-BoldItalic.ttf) format('truetype');
}